@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
  }

  /* For IE, Edge, and others */
  ::-ms-overflow-style {
    display: none;
  }
}
