@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'anotherfool';
  src:
    url('./assets/anotherfool-webfont.woff2') format('woff2'),
    url('./assets/anotherfool-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
  }

  /* For IE, Edge, and others */
  ::-ms-overflow-style {
    display: none;
  }
}
